#include "PlayGif.h"

1                             24	DISCARDABLE	"Res\\Manifest.xml"


IDD_DIALOG1 DIALOGEX DISCARDABLE 0, 0, 318, 200
STYLE WS_POPUP|WS_VISIBLE
FONT 10, "Arial"
BEGIN
    CONTROL	"", IDC_nFrame, "STATIC", NOT WS_TABSTOP, 5, 152, 150, 11
    CONTROL	"OFF", IDC_ANIMTEXTOFF, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_DISABLED|WS_TABSTOP, 133, 184, 26, 13
    CONTROL	"X", IDC_EXIT, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 289, 3, 18, 10
    CONTROL	"Jml Frame", IDC_STATIC4, "STATIC", NOT WS_TABSTOP, 168, 47, 70, 10
    CONTROL	"Jml Dimensi", IDC_STATIC5, "STATIC", NOT WS_TABSTOP, 168, 65, 70, 10
    CONTROL	"Delay", IDC_STATIC6, "STATIC", NOT WS_TABSTOP, 168, 83, 70, 10
    CONTROL	"Lebar", IDC_STATIC7, "STATIC", NOT WS_TABSTOP, 168, 101, 70, 10
    CONTROL	": ?", IDC_Frame, "STATIC", NOT WS_TABSTOP, 269, 47, 35, 10
    CONTROL	": ?", IDC_Dimensi, "STATIC", NOT WS_TABSTOP, 269, 65, 35, 10
    CONTROL	": ?", IDC_Delay, "STATIC", NOT WS_TABSTOP, 269, 83, 35, 10
    CONTROL	": ?", IDC_Lebar, "STATIC", NOT WS_TABSTOP, 269, 101, 35, 10
    CONTROL	": ?", IDC_Tinggi, "STATIC", NOT WS_TABSTOP, 269, 121, 35, 10
    CONTROL	"GUID", IDC_GUID, "STATIC", NOT WS_TABSTOP, 7, 20, 303, 10
    CONTROL	"Copyright (C) Pahor.M 2019", IDC_STATIC3, "STATIC", NOT WS_TABSTOP, 160, 152, 149, 11
    CONTROL	"Next", IDC_Next, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 5, 170, 58, 13
    CONTROL	"Prev", IDC_Prev, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 70, 170, 56, 13
    CONTROL	"ANIM", IDC_ANIMTEXT, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_DISABLED|WS_TABSTOP, 133, 170, 26, 13
    CONTROL	"+", IDC_PLUS, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 162, 170, 26, 13
    CONTROL	"-", IDC_MINUS, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 191, 170, 26, 13
    CONTROL	"tes", IDC_ANGKA, "STATIC", NOT WS_TABSTOP, 222, 172, 25, 11
    CONTROL	"Open", IDC_OPEN, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 253, 170, 56, 13
    CONTROL	"", IDC_IMAGE1, "STATIC", SS_BITMAP|WS_DISABLED|NOT WS_TABSTOP, 147, 64, 55, 46, 
    CONTROL	"Tinggi", IDC_STATIC8, "STATIC", NOT WS_TABSTOP, 166, 121, 70, 10
    CONTROL	"Informasi", IDC_GROUP1, "BUTTON", BS_GROUPBOX|BS_BITMAP|NOT WS_TABSTOP, 160, 35, 149, 111, WS_EX_NOINHERITLAYOUT
END

IDR_VERSION VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x2L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Programmed in assembly with Easy Code\0"
            VALUE "CompanyName", "Personal\0"
            VALUE "FileDescription", "Easy Code Masm classic project\0"
            VALUE "FileVersion", "1.00.0.0001\0"
            VALUE "InternalName", "PlayGif\0"
            VALUE "LegalCopyright", "Copyright © 2019 Personal\0"
            VALUE "OriginalFilename", "PlayGif.exe\0"
            VALUE "ProductName", "PlayGif\0"
            VALUE "ProductVersion", "1.00.0.0001\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
