#include "tesRes.h"





IDD_DIALOG1 DIALOGEX DISCARDABLE 100, 0, 253, 157
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Show GIF"
FONT 8, "MS Sans Serif"
BEGIN
	   CONTROL	"OPEN", IDC_OPEN, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_BORDER|WS_TABSTOP, 183, 135, 65, 17
	   CONTROL	"PREV", IDC_Prev, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 95, 135, 65, 17
	   CONTROL	"NEXT", IDC_Next, "BUTTON", BS_PUSHBUTTON|BS_CENTER|WS_TABSTOP, 11, 135, 65, 17
	   CONTROL	"", IDC_IMAGE1, "STATIC", SS_BITMAP|NOT WS_TABSTOP, 10, 26, 100, 87, WS_EX_CLIENTEDGE
	   CONTROL	": ?", IDC_STATIC1, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 204, 34, 37, 12
	   CONTROL	": ?", IDC_STATIC2, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 204, 52, 37, 12
	   CONTROL	": ?", IDC_STATIC3, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 204, 74, 37, 12
	   CONTROL	"GUID", IDC_STATIC4, "STATIC", WS_GROUP|NOT WS_TABSTOP, 11, 4, 238, 12
	   CONTROL	": ?", IDC_STATIC5, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 204, 92, 37, 12
	   CONTROL	": ?", IDC_STATIC6, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 204, 111, 37, 12
	   CONTROL	"Nomor Frame", IDC_STATIC7, "STATIC", SS_LEFTNOWORDWRAP|WS_GROUP|NOT WS_TABSTOP, 11, 116, 71, 12
	   CONTROL	"Jml Frame", IDC_STATIC8, "STATIC", WS_GROUP|NOT WS_TABSTOP, 133, 34, 44, 12
	   CONTROL	"Delay", IDC_STATIC9, "STATIC", WS_GROUP|NOT WS_TABSTOP, 133, 52, 44, 12
	   CONTROL	"Jml Format", IDC_STATIC10, "STATIC", WS_GROUP|NOT WS_TABSTOP, 133, 74, 44, 12
	   CONTROL	"Lebar", IDC_STATIC11, "STATIC", WS_GROUP|NOT WS_TABSTOP, 133, 92, 44, 12
	   CONTROL	"Tinggi", IDC_STATIC12, "STATIC", WS_GROUP|NOT WS_TABSTOP, 133, 111, 44, 12
	   CONTROL	"IDC_GROUP2", IDC_GROUP2, "BUTTON", BS_GROUPBOX|NOT WS_TABSTOP, 126, 23, 123, 108, WS_EX_NOINHERITLAYOUT
END

IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3L
FILEFLAGS 0x1L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Programmed in assembly with Easy Code\0"
            VALUE "CompanyName", "cv. global consultant\0"
            VALUE "FileDescription", "Easy Code Masm classic project\0"
            VALUE "FileVersion", "1.00.0.0001\0"
            VALUE "InternalName", "tes\0"
            VALUE "LegalCopyright", "Copyright © 2017 cv. global consultant\0"
            VALUE "OriginalFilename", "tes.exe\0"
            VALUE "ProductName", "tes\0"
            VALUE "ProductVersion", "1.00.0.0001\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
